* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
}

.btn:hover {
  opacity: 0.9;
}

.section-info {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

/* header */
.header {
  padding-top: 30px;
  background: #10375c;
  min-height: 100vh;
}

/* header-top */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--Login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--action {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--action::before {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  top: -3px;
  right: 8px;
}

.header__action--SignUp {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--Login {
  margin-right: 7px;
}

/* header-bot */
.header-bot {
  padding-top: 76px;
  display: flex;
}

.header-bot__info {
  width: 44%;
}

.header-bot__right {
  flex: 1;
}

/* left */
.header-bot__content {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}

.header-bot__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-bottom: 38px;
}

.header-bot__action .btn {
  width: 205px;
  height: 60px;
  align-content: center;
  margin-right: 38px;
}

.header-bot__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
}

/* right */
.header-bot__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-bot__img {
  border-radius: 6px;
  object-fit: cover;
}

.header-bot__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.header-bot__img--small {
  width: 210px;
  height: 410px;
}

/* service */
.service {
  padding: 170px 0;
  background: #fff;
}

.service__info {
  text-align: center;
}

.service__desc {
  text-align: center;
  width: 468px;
  margin: 0 auto;
}

/* service-bot */
.service-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-bot__left {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-bot__right .item {
  padding: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 128px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}

.service-bot .item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-bot .item:hover .service-bot__logo {
  color: #fff;
  background: #2e80ce;
}

.service-bot__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.service-bot__info--content {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.service-bot__info--desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.service-bot__right--action {
  margin-top: 55px;
  width: 205px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* works */

/* works-top */
.works-desc {
  width: 468px;
}

/* works-bot */
.works-bot {
  padding-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.works-bot__item {
  padding: 43px 42px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.works-bot__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.works-bot__logo {
  width: 72px;
  height: 72px;
}

.work-bot__info {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.works-bot__desc {
  margin-top: 28px;
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.works-bot__spans {
  margin-top: 18px;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.75;
}
